:root {
  --bgcolor: #303841;
}

/* .custom-logo {
  margin-left: 20px;
  height: 75px;
} */
.custom-navbar {
  background-color: #303841;
  color: white;
  /* font-family: calc(var(--bgcolor)); */
  user-select: none;
}
