:root {
  --bgcolor: #d6e6f2;
}
.custom-form {
  background-color: var(--bgcolor);
}

label {
  color: #303841;
}

.custom-alert {
  color: rgb(194, 75, 75);
  font-size: small;
}
.custom-table{
    background-color: #303841;
}