:root {
  --bgcolor: #245c8d;
}
.form-login {
  box-shadow: var(--bgcolor);
}

.login-heading {
  color: var(--bgcolor);
  user-select: none;
}

.btn-login {
  border: var(--bgcolor) 2px solid;
  background-color: white;
  color: var(--bgcolor);
  padding: 9px;
  border-radius: 5px;
  transition: background-color 0.1s;
}
.btn-login:hover {
  background-color: var(--bgcolor);
  color: white;
}

.custom-login-label {
  color: var(--bgcolor);
  user-select: none;
}
#userEmpty,#passwordEmpty {
  color: red;
  font-size: small;
}
