:root {
  --bgcolor: #303841;
}
.login-heading {
  color: #303841;
  user-select: none;
}
.custom-button {
  background-color: #d6e6f2;
  color: #303841;
  border: #303841 2px solid;
  padding: 9px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.custom-button:hover {
  background-color: #303841;
  color: #d6e6f2;
}

.custom-login-label {
  color: #303841;
  user-select: none;
}
.custom-alert {
  color: rgb(194, 75, 75);
  font-size: small;
}
.custom-form {
  background-color: #d6e6f2;
}
